<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary" style="z-index: 1000;" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand me-auto" [routerLink]="'dashboard'" routerLinkActive="active">ChatApp</a>
    <button class="navbar-toggler" type="button" (click)="collapseNav = !collapseNav" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" [class.collapse]="collapseNav" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <ng-container *ngIf="isAuthenticated">
          <a class="nav-link" aria-current="page" [routerLink]="'dashboard'" routerLinkActive="active">Dashboard</a>
          <a class="nav-link" [routerLink]="'chat'" routerLinkActive="active">Chat</a>
        </ng-container>
        <ng-container *ngIf="!isAuthenticated">
          <a class="nav-link" aria-current="page" routerLink="auth" [queryParams]="{type: 'login'}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Login</a>
          <a class="nav-link" aria-current="page" routerLink="auth" [queryParams]="{type: 'signup'}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Signup</a>
        </ng-container>
      </div>
      <ng-container *ngIf="isAuthenticated">
        <a class="nav-link white-text me-3" (click)="logout()">Logout</a>
        <a *ngIf="authService['userData'].username" class="nav-link white-text me-2 my-2"><span class="badge bg-secondary"> {{ authService['userData'].username }} </span></a>
      </ng-container>
    </div>
  </div>
</nav>
<div style="margin-top: 3.5rem;">
  <router-outlet></router-outlet>
</div>