<div class="row" id="requests-div">
  <div class="col">
    <ul class="chat-list bg-light">
      <li><span class="badge bg-secondary list-type"> Users </span></li>
      <ng-container *ngIf="!spinnerUsers; else commonspinner">
        <li *ngFor="let item of users_vals">
          <span>{{item.username}}</span>
          <div class="request-buttons">
            <ng-container *ngIf="item.connected === 0">
              <span class="badge bg-info" *ngIf="item.in_request; else notinrequests">in requests</span>
              <ng-template #notinrequests>
                <button type="btn btn-sm btn-success" class="button" [ngClass]="{'button--loading' : friendSpinnerMap.get(item.id)}" (click)="addUserToFriends(item)">
                  <span class="button__text"> + </span>
                </button>
              </ng-template>
            </ng-container>
            
            <button class="btn btn-sm btn-warning" *ngIf="item.connected === 1"> - </button>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="col">
    <ul class="chat-list bg-light">
      <li><span class="badge bg-secondary list-type"> Rooms </span></li>
      <ng-container *ngIf="!spinnerRooms; else commonspinner">
        <li *ngFor="let item of rooms">
          <span>{{item.roomname}}</span>
          <div class="request-buttons">
            <button *ngIf="item.connected === 0" type="btn btn-sm btn-success" class="button" [ngClass]="{'button--loading' : roomsSpinnerMap.get(item.id)}" (click)="addRoomToUser(item)">
              <span class="button__text"> + </span>
            </button>
            <button class="btn btn-sm btn-warning" *ngIf="item.connected === 1"> - </button>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</div>

<!-- this spinner will be added as an element in the list above -->
<ng-template #commonspinner>
  <li>
    <div class="lds-facebook">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </li>
</ng-template>