<div class="row" id="requests-div">
  <div class="col">
    <ul class="chat-list bg-light">
      <li><span class="badge bg-secondary list-type"> Users </span></li>
      <ng-container *ngIf="!spinnerUsers; else commonspinner">
        <li *ngFor="let item of users_vals">
          <span>{{item.username}}</span>
          <div class="request-buttons">
            <ng-container *ngIf="item.connected === 0">
              <span class="badge bg-info" *ngIf="item.in_request; else notinrequests">in requests</span>
              <ng-template #notinrequests>
                <button class="button" [ngClass]="{'button--loading' : friendSpinnerMap.get(item.id)}" (click)="addOrRemoveUserFriend(item, 1)">
                  <span class="button__text"> + </span>
                </button>
              </ng-template>
            </ng-container>
            
            
            <button *ngIf="item.connected === 1" class="button_yellow" [ngClass]="{'button_yellow--loading' : friendSpinnerMap.get(item.id)}" (click)="addOrRemoveUserFriend(item, 2)">
              <span class="button_yellow__text" style="color:black"> - </span>
            </button>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="col">
    <ul class="chat-list bg-light">
      <li><span class="badge bg-secondary list-type"> Rooms </span></li>
      <ng-container *ngIf="!spinnerRooms; else commonspinner">
        <li *ngFor="let item of rooms">
          <span>{{item.roomname}}</span>
          <div class="request-buttons">
            <button *ngIf="item.connected === 0" type="btn btn-sm btn-success" class="button" [ngClass]="{'button--loading' : roomsSpinnerMap.get(item.id)}" (click)="addOrRemoveRoomToUser(item, 1)">
              <span class="button__text"> + </span>
            </button>

            <button *ngIf="item.connected === 1" class="button_yellow" [ngClass]="{'button_yellow--loading' : roomsSpinnerMap.get(item.id)}" (click)="addOrRemoveRoomToUser(item, 2)">
              <span class="button_yellow__text" style="color:black"> - </span>
            </button>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</div>

<!-- this spinner will be added as an element in the list above -->
<ng-template #commonspinner>
  <li>
    <div class="lds-facebook">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </li>
</ng-template>