<div class="row">
  <!-- users and rooms display side panel -->
  <div class="col-3 px-0 left-panel">
    <div *ngFor="let item of usersAndRoomsValues" class="user" [ngClass]="{ selected: (item.username === selectedChat?.username) }" (click)="chatSelected(item)">
      <div class="description">
        <div class="name">
          {{ item.username }} {{ (item.username === authService.userData.username) ? " (yourself)" : "" }}
        </div>
        <div class="status">
          <i class="icon" [ngClass]="{ connected: item.connected }"></i> {{item.connected ? 'online' : 'offline'}}
        </div>
      </div>
      <!-- if new message are there use below -->
      <div class="new-messages">!</div>
    </div>
  </div>

  <!-- message panel -->
  <div class="col-9 px-0">
    <ng-container *ngIf="selectedChat">
      <div class="header">
        <i class="icon" [ngClass]="{ connected: selectedChat.connected }"></i> {{ selectedChat.username }}
      </div>
      <ng-container *ngIf="!chatSpinner">
        <ul class="messages">
          <li *ngFor="let item of messageArray" class="message">
            <div class="sender">
              {{ item.name !== this.authService.userData['username'] ? item.name : item.name + '(YOU)' }}
            </div>
            {{ item.message }}
          </li>
        </ul>
        <form class="form">
          <textarea [(ngModel)]="userEnteredMessage" #message="ngModel" name="userEnteredMessage" placeholder="Your message... (should contain less than or equal to 3000 characters)" class="input" required minLength="1" maxLength="1000" (keyup)="removeExtraSpaces($event)"></textarea>
          <button class="send-button ms-2 btn btn-sm btn-rounded btn-success" [disabled]="!message.valid" (click)="sendMessage()">Send</button>
        </form>
      </ng-container>

      <div class="lds-facebook" *ngIf="chatSpinner"><div></div><div></div><div></div></div>
    </ng-container>

    <ng-container *ngIf="!selectedChat">
      <div class="card m-1 text-center">
        <div class="card-body">
          <h5 class="card-title">Please select a chat or a room to see the messages.</h5>
        </div>
      </div>
    </ng-container>
  </div>
</div>