body {
  background-color: #f4f7f6;
  overflow-x: hidden;
}

.list-type {
  font-size: 1rem;
}

.username-above-message {
  font-size: 0.75rem;
  font-weight: bold;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a.white-text {
  color: rgba(255, 255, 255, 0.55);
}

a.white-text:hover {
  color: rgba(255, 255, 255, 0.75);
}

.icon {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: #e47297;
  margin-right: 2px;
}

.icon.connected {
  background-color: #86c541;
}

.chat-list {
  padding: 0 0.5rem;
  margin: 0
}

.chat-list li {
  padding: 10px 15px;
  list-style: none;
  border-radius: 3px
}

.chat-list li:hover {
  background: #efefef;
  cursor: pointer
}

.chat-list li.active {
  background: #d7d7d7
}

.chat-list li .name {
  font-size: 15px
}

.chat-list img {
  width: 45px;
  border-radius: 50%
}

.chat-header {
  padding: 15px 20px;
  border-bottom: 2px solid #e5e3e3
}

.chat-header img {
  float: left;
  border-radius: 40px;
  width: 40px
}

.chat-header .chat-about {
  float: left;
  padding-left: 10px
}


.chat-history {
  padding: 20px;
  border-bottom: 2px solid #e5e3e3
}

.chat-history ul {
  padding: 0
}

.chat-history ul li {
  list-style: none;
  margin-bottom: 0.75rem
}

.chat-history ul li:last-child {
  margin-bottom: 0px
}

.chat-history .message-data img {
  border-radius: 40px;
  width: 40px
}

.chat-history .message-data-time {
  color: #434651;
  padding-left: 6px;
  font-size: 0.75rem;
  font-style: italic;
}

.chat-history .message {
  color: #444;
  padding: 0.25rem 0.5rem;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  display: inline-block;
  position: relative
}

/* .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px
} */

.chat-history .my-message {
  background: #efefef
}

/* .chat-history .my-message:after {
  bottom: 100%;
  left: 30px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #efefef;
  border-width: 10px;
  margin-left: -10px
} */

.chat-history .other-message {
  background: #e8f1f3;
  text-align: right
}

/* .chat-history .other-message:after {
  border-bottom-color: #e8f1f3;
  left: 75%
} */

.chat-message {
  padding: 20px
}

.online,
.offline,
.me {
  margin-right: 2px;
  font-size: 8px;
  vertical-align: middle
}

.online {
  color: #86c541
}

.offline {
  color: #e47297
}

.me {
  color: #1d8ecd
}

.float-right {
  float: right
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0
}

.input {
  width: 80%;
  resize: none;
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #000;
}

.send-button {
  vertical-align: top;
}

.toggle-sidemenu-button {
  position: absolute;
  font-size: 0.7rem;
  margin: 0;
  padding: 0 0.1rem;
  margin-top: 2px;
  z-index: 100;
}

/* new styles */

.users-rooms-div {
  height: calc(100vh - 7rem) !important; /* 3.5 for top fixed nav bar and 3.5 for search bar */
  overflow: auto;
}

#wrapper {
  margin-top: 3.5rem;
}

#sidebar-wrapper {
  height: calc(100vh - 3.5rem) !important; /* 3.5 for top fixed nav bar */
  max-height: calc(100vh - 3.5rem) !important; /* 3.5 for top fixed nav bar */
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.5rem 0.5rem;
  font-size: 1.2rem;
  border-bottom: 1px solid #e5e3e3;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  height: calc(100vh - 3.5rem) !important; /* 3.5 for top fixed nav bar */
  max-height: calc(100vh - 3.5rem) !important; /* 3.5 for top fixed nav bar */
  min-width: 100vw;
  overflow-y: auto;
  border-left: 2px solid #e5e3e3;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}